body { background: #b0f7df; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 41px; display: flex; }
.block-product-0 { color: #d0c01; font-size: 13px; margin-bottom: 5px; }
.block-session-1 { color: #7f46b7; font-size: 21px; margin-bottom: 5px; }
.block-router-2 { color: #d46250; font-size: 12px; margin-bottom: 5px; }
.block-config-3 { color: #a9de6f; font-size: 19px; margin-bottom: 5px; }
.block-payment-4 { color: #261b3d; font-size: 18px; margin-bottom: 5px; }